<header>
  <nav class="navbar">
    <a href="/">Smart To-Do List</a>
<!-- Will toggle links depending if user is logged in or not -->
    <div>
        <a class="nav-bar-link" href="/login">

    </div>
    <div class= "userStatus">
      <% if(user_email){ %>
        <a class="navbar-brand"> Logged in as: <%=user_email%></a>
        <br/>
        <form class="form-inline" method="POST" action="/logout">
          <button type="submit" class="logout-button"> Logout </button>
        </form>

    <% } else{ %>
      <a href="/register">Create Account</a>
      <a href="/login">Login</a>
        <!-- <form action="/logout" method="POST">
          <button class="logout-button" type="Logout">
            Logout
          </button>
        </form> -->


   <% } %>
      </div>
    </div>
  </nav>
</header>
