<header>
  <nav class="navbar">
    <a href="/">Smart To-Do List</a>
<!-- Will toggle links depending if user is logged in or not -->
    <div>
        <a class="nav-bar-link" href="/login">

      </div>
    </div>
    <div>
      <a href="/register">Create Account</a>
        <a href="/login">Login</a>
        <form action="/logout" method="POST">
          <button class="logout-button" type="Logout">
            Logout
          </button>
        </form>
      </div>
    </div>
  </nav>
</header>
