nav {
  padding-top: 8px;
  padding-right: 8px;
  padding-left: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: large;
}
/*
nav a:hover{
  color: white;
} */

.logout-button {
  margin: 0.5em;
}

.userStatus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logout-button {

  color: black;
  padding: 8px 15px;
  padding-right: 20px;
  /* margin: 8px 0; */
  border: none;
  cursor: pointer;
  width: 7em;
}

.logout-button:hover {
background-color: crimson;
color: white;
}

.redirect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.login {
  padding-left: 17px;
  padding-right: 17px;
}

